<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Status Admin Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/start.css">
</head>
<body>
<h4 >INVOICE TO:</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col" th:text="#{status.recipient}">Recipient</th>
        <th scope="col" th:text="#{formOrder.address}">Address</th>
        <th scope="col" th:text="#{formOrder.phone}">Phone</th>
        <th scope="col" th:text="#{formOrder.payment}">Payment Method</th>
        <th scope="col" th:text="#{formOrder.notes}">Notes</th>
        <th scope="col" th:text="#{status.statusOrder}">Status Order</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bucketItem: ${buckets}">
        <td th:if="${bucketItem.order != null}" th:text="${bucketItem.order.recipient}"></td>
        <td th:if="${bucketItem.order != null}" th:text="${bucketItem.order.address}"></td>
        <td th:if="${bucketItem.order != null}" th:text="${bucketItem.order.phone}"></td>
        <td th:if="${bucketItem.order != null}" th:text="${bucketItem.order.payment}"></td>
        <td th:if="${bucketItem.order != null}" th:text="${bucketItem.order.notes}"></td>
        <td>
            <!-- Форма для зміни статусу -->
            <form th:action="@{'/changeStatus/' + ${bucketItem.order.id}}" method="post">
                <select id="statusSelect" name="status">
                    <option value="New" th:text="#{status.new}">New</option>
                    <option value="Sent" th:text="#{status.sent}">Sent</option>
                    <option value="Finished" th:text="#{status.finished}">Finished</option>
                </select>
                <button type="submit" class="btn btn-primary" th:text="#{status.change}">Change Status</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br><br>

<h4 th:text="#{status.order}">Order:</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col" th:text="#{order.ID}">Order ID</th>
        <th scope="col" th:text="#{bucket.productName}">Product Name</th>
        <th scope="col" th:text="#{create.code}">Product Code</th>
        <th scope="col" th:text="#{bucket.price}">Price</th>
        <th scope="col" th:text="#{bucket.amount}">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bucketItem: ${buckets}">
        <td th:text="${bucketItem.order != null ? bucketItem.order.id : ''}"></td>
        <td th:if="${bucketItem.order != null}" th:text="${bucketItem.product.productName}"></td>
        <td th:if="${bucketItem.order != null}" th:text="${bucketItem.product.productCode}"></td>
        <td th:if="${bucketItem.order != null}" th:text="${bucketItem.product.price + ' грн.'}"></td>
        <td th:if="${bucketItem.order != null}" th:text="${bucketItem.amount}"></td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{'/home'}" class="btn btn-primary" th:text="#{backToHome}">Back to Home</a>
</body>
</html>
